
.app-title{
    text-align: center;

}

.todolist-container{
    height: 500px;
    width: 450px;
    background-color: rgb(255, 248, 183);
    margin: 5px auto;
    border-radius: 50px 0px 0px 50px ;
    padding: 5px;
    overflow-y: scroll;
    box-shadow: 0px 0px 7px 7px rgb(182, 173, 128);
}
.add-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
   
}
.add-input{
    padding: 5px 10px;
    border-radius: 10px;
    border:1px solid gray;
    font-size: 18px;
}
.add-icon{
    height: 32px;
    margin-left: 10px;
    cursor: pointer;
}

.categeory-select{
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid gray;
    margin-left: 5px;
    cursor: pointer;
}

